body {
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

.pc-slider {
	width: 200px;
}

.pc-prototype {
	display: none;
}

.pc-editing {
	display: none;
}

.pc-notediting {
	display: none;
}